@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Red+Rose:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --color-1: #320842;
    --color-2: #56226B;
    --color-3: #B548E0;
    --color-4: #772F94;
    --color-5: #983CBD;
    --font-para-o-menu: "Red Rose", serif;
    --font-para-titulo: "Mozilla Headline", sans-serif;
    --font-para-texto: "Google Sans Code", monospace;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

/* */
/*Inicio*/
header nav{
    border-bottom: 1px solid  var(--color-3);
    padding: 10px 100px;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280;
    margin: 0 auto;
}

section #img-logo  a > img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

section #menus > a{
    color: white;
    margin-left: 25px;
    font-size: 18px;
}

section #menus  >a:hover{
    color: var(--color-3);
    text-decoration: underline;
    transition: 0.3s;
    font-size: 23px;
}

section .btn-contato{
    color: white;
    font-size: 18px;
    background-color: green;
    padding: 20px;
    border-radius: 60px;
}

section .btn-contato:hover{
    color: white;
    text-decoration: underline;
    transition: 0.4s;
    font-size: 21px;
}

main .conteudo-01{
    width: 1000px;
    color: white;
}

#ideia-realidade {
    background-color: #983CBD;
}

#ideia-realidade > h1{
    font-family: var(--font-para-titulo);
    margin-bottom: 10px;
}

#ideia-realidade > p{
    line-height: 24px;
    margin-bottom: 20px;
}