@import url('https://fonts.googleapis.com/css2?family=Mozilla+Headline:wght@200..700&family=Red+Rose:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --color-1: #320842;
    --color-2: #56226B;
    --color-3: #B548E0;
    --color-4: #772F94;
    --color:   #983CBD;
    --font-para-o-menu: "Red Rose", serif;
    --font-para-titulo: "Mozilla Headline", sans-serif;
    --font-para-texto: "Google Sans Code", monospace;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: black;
}

header nav{
    border-bottom: 1px solid blue;
}